@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Authors</h5>
                <p class="card-text"> 5 (применро)</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bookks</h5>
                <p class="card-text"> 26 (применро)</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Genres</h5>
                <p class="card-text"> 8 (применро)</p>
            </div>
        </div>
    </div>

</div>